config ZAPHOD
    # Support for Zaphod machine family
    # Sample machine inspired by Phil Brown's Amiga Z80 system emulator
    select ZAPHOD_HAS_SCREEN

config ZAPHOD_HAS_SCREEN
    # Enable screen emulation
    bool
    depends on ZAPHOD
